body{
    background-color: rgba(240, 237, 219, 0.877);
}
.paddedCol{
    padding: 20px;
    border-radius: 10px;
}

.that{
    font-size: 20px
}





/* Extra small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}


/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}


